// Color
$blue: #e6007e;
$black: #000;
$grey: #ccc;
$red: #b74233;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 4rem;
$xl-size: 6.4rem;

// Breakpoints
$mobile: 767px;
$tablet: 768px;
$desktop: 1024px;
